{% extends 'base.html.twig' %}

{% block title %}Moje konto{% endblock %}


{% block body %}
    <table class="table">
        <tr>
        <th scope="col">Kwota</th>
            <th scope="col">Numer Konta</th>
        </tr>
   <tr> <th> {% for bill in repository %}
        {{ bill.amount }}
        <br>
    {% endfor %}
       </th>
       <th> {% for bill in repository %}
                    {{ bill.AccountNumber }}
                    <br>
                {% endfor %}
            </th>

    </table>
{% endblock %}
