{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container pt-2 pb-2">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<h1 class="h3 mb-3 font-weight-normal">Rejestracja</h1>
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username,{label: 'Nazwa użykownika'}) }}
        {{ form_row(registrationForm.surname,{label:'Nazwisko'}) }}
        {{ form_row(registrationForm.email,{label: 'Adres Email'}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Hasło'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

    <button class="btn btn-primary mt-2" type="submit">Załóż konto</button>
    {{ form_end(registrationForm) }}
</div>
    {% endblock %}
