{% extends 'base.html.twig' %}



{% block title %}Punkty Zbiórki Odpadów{% endblock %}


{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">1</th>
            <th scope="col">Miasto</th>
            <th scope="col">Ulica</th>
            <th scope="col">Numer</th>
            <th scope="col">Kod Pocztowy</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Bochnia</td>
            <td>Kowalska</td>
            <td>12</td>
            <td>32-700</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Kraków</td>
            <td>Krakowska</td>
            <td>3</td>
            <td>31-144</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
