{% extends 'base.html.twig' %}

{% block title %}Strona Główna{% endblock %}

{% block body %}

        <section>
            <div style="text-align: center;">
                <br><br>
                <br>
                <br>


                <div class="container">

                    <div class="card-body">
                        <h3>
                        Za pomocą naszego serwisu sprawdzisz gdzie wyrzucić odpady, znajdziesz punkty zbiórki odpadów,
                        a także po zarejestrowaniu sprawdzisz swoje rachunki za śmieci.
                        </h3>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Skorzystaj z paska nawigacyjnego u góry strony</h5>
                        <h2>Zapraszamy!</h2>

                    </div>
                </div>


            </div>
        </section>

{% endblock %}
