<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">

        {% endblock %}
    </head>
    <body>
 {% include 'nav.html.twig' %}

        {% block body %}
        {% endblock %}
    <!--FOOTER-->
    <footer>
        <div class="pt-2 pb-2 bg-info">
            <span class="d-block text-center text-white"> PROJEKT ZAPAI - Aplikacja wspomagająca segregację odpadów</span>
        </div>
    </footer>
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-3.4.1.slim.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
