<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('index') }}">Strona Główna</a>
            </div>

        </nav>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Gdzie wyrzucać</a>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="pzo">Punkty Zbiórki Odpadów</a>
            </div>
        </nav>
        {% if app.user %}
        <nav class="navbar navbar-expand-lg">

            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('account') }}">Moje konto</a>

            </div>
        </nav>
            <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_logout') }}">Wyloguj</a>

            </div>
        {% else %}
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_login') }}">Logowanie</a>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_register') }}">Rejestracja</a>
            </div>
        </nav>
        {% endif %}

    </div>
</nav>